* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at 20% 30%, #00f0ff15, transparent 40%),
              radial-gradient(circle at 80% 70%, #00f0ff15, transparent 40%),
              #020617;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.hero-text {
  max-width: 500px;
}

#typing {
  margin: 20px 0;
}

.hero-img img {
  width: 260px;
  border-radius: 50%;
}

/* BUTTONS */
.btn {
  background: cyan;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px cyan;
}

.btn-outline {
  border: 1px solid cyan;
  padding: 10px 20px;
  border-radius: 20px;
  color: cyan;
}

/* SECTION */
section {
  padding: 100px 40px;
  text-align: center;
}

/* PROJECTS */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: 0 20px 40px rgba(0,255,255,0.2);
}

/* SKILLS */
.skills-container span {
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  background: #334155;
  border-radius: 20px;
}

/* CONTACT */
.contact-card {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px;
  background: cyan;
  border: none;
  width: 100%;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
}

.modal-content {
  background: #020617;
  margin: 10% auto;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  animation: popUp 0.3s ease;
}

@keyframes popUp {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.close {
  float: right;
  cursor: pointer;
}

/* REVEAL */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
