* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.hero-text {
  max-width: 500px;
}

#typing {
  margin: 20px 0;
}

.profile {
  width: 250px;
  border-radius: 50%;
}

/* BUTTONS */
.btn {
  background: cyan;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-outline {
  border: 1px solid cyan;
  padding: 10px 20px;
  border-radius: 20px;
  color: cyan;
}

/* PROJECTS */
section {
  padding: 80px;
  text-align: center;
}

.projects-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 260px;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  top: 0;
}

.modal-box {
  background: #020617;
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
}

/* SKILLS */
.skills span {
  margin: 10px;
  padding: 10px;
  background: #334155;
  display: inline-block;
  border-radius: 10px;
}

/* FORM */
form {
  max-width: 400px;
  margin: auto;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
